.story
  width: 75%
  margin: 0 auto
  box-shadow: 0 2rem 3rem rgba($color-blackest, .15)
  background-color: rgba($color-whitest, .6)
  border-radius: 3px
  padding: 6rem
  padding-left: 9rem // left padding has the __shape transform added
  font-size: $default-font-size
  transform: skewX(-12deg)

  // & > * // Can't do this because there is already a transform for the shape
  //   transform: skewX(12deg)


  &__shape
    width: 15rem
    height: 15rem
    background: orangered
    float: left
    position: relative

    // For this to work, the element has to have defined dimensions (width, height) and it has to be floated. Makes the text wrap around a circle shape
    -webkit-shape-outside: circle(50% at 50% 50%)
    shape-outside: circle(50% at 50% 50%)

    -webkit-clip-path: circle(50% at 50% 50%)
    clip-path: circle(50% at 50% 50%)
    transform: translateX(-3rem) skewX(12deg) // best way to position a floated element

  &__img
    height: 100% // image is wider than it is tall so setting height
    transform: translateX(-3rem) scale(1.2)
    transition: all .3s

  &__caption
    position: absolute
    +center-absolute
    transform: translate(-50%,20%)
    color: $color-whitest
    text-transform: uppercase
    font-size: 1.7rem
    text-align: center
    transition: all .3s
    opacity: 0
    backface-visibility: hidden

  &:hover &__caption
    opacity: 1
    transform: translate(-50%, -50%)

  &:hover &__img
    transform: translateX(-3rem) scale(1.05)
    filter: blur(3px) brightness(70%)

  &__text
    transform: skewX(12deg)