*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit // Viewed as better practice than setting box-sizing to border-box here directly. That way it is easier to change if necessary, e.g in plugins etc.

html
  font-size: 62.5% // sets 1 rem to 10px by default

  +respond-tab-land
    font-size: 56.25% // 1rem = 9px
  
  +respond-tab-port
    font-size: 50% // 1 rem = 8px, 8 / 16 = 50%
  
  +respond-big-desktop
    font-size: 75% // 1rem = 12px

body
  padding: 3rem
  box-sizing: border-box

  +respond-tab-port
    padding: 0

::selection
  background-color: $color-primary
  color: white