body
  font-family: "Lato", sans-serif
  font-weight: 400
  line-height: 1.7
  color: $color-light-grey
  padding: 3rem

.heading-primary
  color: white
  text-transform: uppercase
  backface-visibility: hidden // fixes an animation bug with the transform
  margin-bottom: 6rem

.heading-primary--main
  display: block
  font-size: 6rem
  font-weight: 400
  letter-spacing: 3.8rem
  animation: moveInLeft 1s ease-out // name duration timing-function delay iteration-count direction fill-mode

.heading-primary--sub
  display: block
  font-size: 2rem
  font-weight: 700
  letter-spacing: .9rem
  animation: moveInRight 1s ease-out