.header
  height: 85vh
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .75), rgba($color-primary-dark, .75)), url(../img/hero-small.jpg)
  background-size: cover
  // ensures that the bg image always stays at the top of the container
  // so the top stays the same. Other possible values e.g. bottom or center
  background-position: top
  position: relative

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
    height: 95vh
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5),  only screen and (min-width: 75em)
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .75), rgba($color-primary-dark, .75)), url(../img/hero.jpg)

  +respond-phone
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)

.header__logo-box
  position: absolute
  top: 4rem
  left: 4rem

.header__logo
  height: 3.5rem // width is automatically set by the browser

.header__text-box
  position: absolute
  top: 40%
  left: 50%
  transform: translate(-50%, -50%) // These are not in relation to the parent element
  text-align: center